<div class="main">
    <div class="main_cont w-container">
        <div class="row w-row">
            <div class="column left w-col w-col-6">
                <div class="logo_cont">
                    <img src="/assets/images/Burger_logo_2x.png" width="133" class="image">
                </div>
                <div class="form_block w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" action="burgers/create" method="POST">
                        <input type="text" class="text-field w-input" maxlength="256" name="custom_burger" placeholder="Enter your custom burger"
                            id="custom_burger" value="">
                        <input type="submit" value="Add to the list" data-wait="Please wait..." class="button w-button">
                    </form>
                </div>
                <div class="wrapper_list">
                    <ul class="unordered-list w-list-unstyled">
                        {{#each burgersD}} {{#unless this.tocart}}
                        <li class="list-item">
                            <div class="burger_icon_cont">
                                <img src="/assets/images/burger_icon2x.png" width="29.5">
                            </div>
                            <div class="burger_text">{{this.id}}. {{this.name}}</div>
                            <div class="list_btns_cont">
                                <form method="POST" action="/burgers/delete?_method=DELETE">
                                    <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                                    <button type="submit" class="list_btn">
                                        <span class="icon_sec_btn"></span>Delete</button>
                                </form>
                                <form method="POST" action="/burgers/update?_method=PUT">
                                    <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                                    <button type="submit" class="list_btn">
                                        <span>
                                            <strong class="icon_sec_btn"></strong>
                                        </span>Add</button>
                                </form>
                            </div>
                        </li>
                        {{/unless}} {{/each}}
                    </ul>
                </div>
            </div>
            <div class="column right w-col w-col-6">
                <div class="wrapper_chekout">
                    <ul class="unordered-list w-list-unstyled">
                        {{#each burgersD}} {{#if this.tocart}}
                        <li class="list-item cart">
                            <div class="burger_icon_cont cart">
                                <img src="/assets/images/burger_icon2x.png" width="29.5">
                            </div>
                            <div class="burger_text">{{this.id}}. {{this.name}}</div>
                            <form method="POST" action="/burgers/updatecart?_method=PUT">
                                <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                                <button type="submit" class="list_btn">
                                    <span class="icon_sec_btn">
                                        <strong></strong>
                                    </span>
                                </button>
                            </form>
                        </li>
                        {{/if}} {{/each}}
                    </ul>
                </div>
                <a href="#" class="button disabled w-button">checkout with credits</a>
            </div>
        </div>
    </div>
</div>